@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower|Passion+One|Righteous');

$pink: #cfb9c2;
$white: #ddd7d2;

$logoFontFamily: 'Pacifico', cursive;
$headerFontFamily: "Righteous", cursive;
$fontFamily: "Lato", sans-serif;
$primary-color: #B93848;
$secondary-color: #674172;
$yellow: #D9E254;
$green: #26C281;
$light-grey: #888;
$grey: #555;
$dark-grey: #272727;
